.form__error-block {
	background: rgb(250, 234, 230);
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form__error-title {
	font-size: 18px;
	color: #cf2c00;
	display: flex;
	font-weight: 600;
	align-items: center;
	margin-bottom: 5px;
}

.form__error-text {
	text-indent: 35px;
	font-size: 12px;
	color: #cf2c00;
	opacity: 0.5;
}

.smile {
	border: 2px solid rgb(216, 82, 46);
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.smile__dot {
	width: 2px;
	height: 2px;
	display: inline-block;
	background: rgb(216, 82, 46);
	border-radius: 50%;
	position: absolute;
	bottom: 60%;
}

.smile__dot--left {
	left: 30%;
}

.smile__dot--right {
	right: 30%;
}

.smile__line {
	width: 10px;
	height: 2px;
	background: rgb(216, 82, 46);
	position: absolute;
	border-radius: 10px;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
}